<style>
  .cat-picture {
    width: 100%;
    height: auto;
  }

  #my-cat-fact {
    color: limegreen;
    text-align: center;
    margin-top: 1em;
    font-size: 3em;
  }
</style>
<script>
//   function getCatFact() {
//   //fetch('https://cat-fact.herokuapp.com/facts')
//   fetch('https://cors-anywhere.herokuapp.com/https://dog-api.kinduff.com/api/facts')
//   .then(
//     function(response) {
//       if (response.status !== 200) {
//         console.log('Looks like there was a problem. Status Code: ' +
//           response.status);
//         return;
//       }
//       // const obj = JSON.parse(response);
//       const value = response.facts
//       console.log(response)
//       document.getElementById("my-cat-fact").innerHTML = value;

//       // Examine the text in the response
//       // response.json().then(function(data) {
//       //   console.log(data);
//       //   const random = data[Math.floor(Math.random() * data.length)];
//       //   document.getElementById("my-cat-fact").innerHTML = random['text'];
//       // });
//     }
//   )
//   .catch(function(err) {
//     console.log('Fetch Error :-S', err);
//   });
// }
function getCatFact(){
  var responseFact = ""
  fetch(`http://api.allorigins.win/get?url=${encodeURIComponent('https://dog-api.kinduff.com/api/facts')}`)
  .then(response => {
      if (response.ok) return response.json()
      throw new Error('Network response was not ok.')
    })
  .then( data => {
      console.log(data.contents);
      const factObj = JSON.parse(data.contents);
      document.getElementById("my-cat-fact").innerHTML = factObj.facts[0];
    })
    
  }

function getDogImage() {
  fetch('https://dog.ceo/api/breeds/image/random')
  .then(
    function(response) {
      if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
          response.status);
        return;
      }
      console.log("Hello",response)
      // Examine the text in the response
      response.json().then(function(data) {
        console.log(data);
        var imageURL = data.message;
        document.getElementById("my-dog-image").innerHTML = `<img src="${imageURL}">`;
        // document.getElementById("my-dog-image").innerHTML = str1.concat("<img src=",data,">")
      });
    }
  )
  .catch(function(err) {
    console.log('Fetch Error :-S', err);
  });
}

// WIP
// function getDogImage(){
//   $.getJSON("https://ancient-dusk-93363.herokuapp.com/https://dog.ceo/api/breeds/image/random", function (image) {
//       response.json
//       var body = XMLHttpRequest.response;
//       console.log(dog_img)
//       $(".dog_img").attr("src", dog_img);
//       document.getElementById("my-dog-image").innerHTML = `<img src="${dog_img}">`;
//   }); 
//}
</script>
<div class="bg-gray-light border-bottom border-gray-light">
  <div class="container text-center py-5 mb-4">
    <img src="img/logo.png" class="w-100" style="max-width:120px;" />
    <div class="mt-3 mb-4">
      <h1 class="h1 mb-0">Isaac and no-one's even more incredible Cat Facts app</h1>
      <h2 class="h4 text-gray font-weight-light">Build your hackathon project "faster"*.</h2>
      <p>* terms and conditions apply. see github for more details.</p>
    </div>
    <a class="btn btn-primary mt-2" href="#" onClick="getCatFact()"> Get a Fact about Cats because I like Cats </a>
    <a class="btn btn-primary mt-2" href="#" onClick="getDogImage()"> Get a Image about Cats because I like Cats </a>
    <div id="my-cat-fact"></div>
    <div id="my-dog-image"></div>
  </div>
</div>

<div class="text-gray-light text-center py-5 my-5">
  <!-- <img src="https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg" class="cat-picture" /> -->
</div>
